export ENGINE_TYPE=cibseven
export ENGINE_BASE_URL=http://localhost:8080/engine-rest
export ENGINE_AUTH_TYPE=basic
export ENGINE_USERNAME=demo
export ENGINE_PASSWORD=demo
export CLICKHOUSE_URL=http://localhost:8123
export CLICKHOUSE_USERNAME=camunda
export CLICKHOUSE_PASSWORD=camunda123
export CLICKHOUSE_DATABASE=camunda_history